---
layout: base.njk
description: 404 page not found
url: /404.html
---

<header class="flex h-full w-full items-center justify-center">
  <div>
    <h1 class="mt-auto font-mono font-bold <sm:text-lg sm:text-3xl">HTTP 404</h1>
    <h2 class="mb-auto <sm:(text-xs max-w-56) sm:(text-lg max-w-sm)">
      This page does not exist or has been moved.
      <a class="link" href="/">Try navigating from the homepage.</a>
    </h2>
  </div>
</header>

<main>
</main>