<!doctype html>

<html lang="en" class="h-full w-full">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if title %}{{ title }} | {% endif %}{{ site_name }}</title>
    <link href="{{ site_favicon }}" rel="icon" type="image/png" sizes="32x32">
    <meta name="description" {% if description %}
      content="{{ description }}" {% else %} content="{{ site_description }}"
    {% endif %}>
    
    <meta property="og:image" content="{{ site_root }}{{ site_embed }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ site_root }}">
    <meta name="twitter:title" content="{% if title %}{{ title }} | {% endif %}{{ site_name }}">
    <meta name="twitter:description" {% if description %}
      content="{{ description }}" {% else %} content="{{ site_description }}"
    {% endif %}>
    <meta name="twitter:image" content="{{ site_root }}{{ site_embed }}">
    <meta name="twitter:creator" content="@dragonwocky">

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/windi.css">
    <script type="module" src="/app.js"></script>
  </head>

  <body class="min-h-full w-full flex flex-col font-sans bg-body h-full">

    <a href="https://discord.gg/sFWPXtA">
    <figure class="flex items-center bg-red-500 text-white text-sm font-bold px-4 py-3" role="banner">
      <figcaption>
        <span class="mr-1.5">⚠️</span>
        Due to recent Notion updates workarounds are required to access the notion-enhancer menu and
        to fix some bugs in the notion-repackaged installation of the Notion app. See the #announcements
        channel in the Discord server for up to date information and support on use of the notion-enhancer
        until an update can be released.
      </figcaption>
    </figure>
    </a>

    {{ content | safe }}

  </body>
</html>