---
layout: base.njk
---

<header class="bg-header border-b-1 border-dim flex justify-center <sm:(pb-4 pt-4.5) sm:py-6">
  <div class="
    flex <sm:(flex-col px-4) sm:(flex-row px-6) flex-grow
    <lg:max-w-[93ch] lg:max-w-[132ch] xl:max-w-[144ch]
  ">
    <a href="/" class="flex-shrink-0 grid w-max max-w-full pr-2 flex items-center">
      <div class="col-span-1 row-span-2 w-18 mr-4">
        <img src="{{ site_icon }}" class="h-18 w-full" alt="">
      </div>
      <h1 class="col-start-2 mt-auto font-mono font-bold text-lg">{{ site_name }}</h1>
      <p class="col-start-2 mb-auto text-xs max-w-56">{{ site_description }}</p>
    </a>
    <nav class="sm:ml-auto" aria-label="links">
      <ul class="flex flex-row flex-wrap sm:(items-center h-full justify-end) <sm:mt-4">

        {% for btn in header_actions %}
        <li class="<sm:hidden p-1 group relative flex justify-center">
          <button data-action="{{ btn.action }}" class="button !bg-opacity-0 !hover:bg-opacity-50 sm:text-sm">
            {{ btn.icon | feather | safe }}
          </button>
          <span class="tooltip opacity-0 group-hover:opacity-100 -bottom-7.5">
            {{ btn.tooltip }}
          </span>
        </li>
        {% endfor %}
        
        {% for btn in nav %}
        <li class="<sm:(p-0.5 flex-grow text-center) sm:p-1">
          <a href="{{ btn.url }}" class="button <sm:(text-xs py-2 px-3 justify-center) sm:text-sm">
            {{ btn.icon | feather({ class: "<sm:(h-3 w-3)" }) | safe }}
            <span>{{ btn.text }}</span>
          </a>
        </li>
        {% endfor %}

      </ul>
    </nav>
  </div>
</header>

<main class="flex-grow flex <md:flex-col sm:overflow-hidden justify-center">

  <aside aria-label="menu" class="
    pt-2 sm:pb-8 md:pl-6 pr-10 <xl:w-[28ch] xl:w-[32ch] max-h-full min-h-full
    <md:(fixed top-0 left-0 transform -translate-x-[28ch] pb-16 pl-10) flex-shrink-0
    overflow-y-auto z-1 text-base bg-body border-r-1 border-dim
  ">
    <ul>
    {% for section in sidebar %}
    {% if not search.data(section).draft %}
      <li>
        <p class="mt-6 mb-2"><strong>{{ search.data(section).section }}</strong></p>
        <ul>
        {% for page in search.pages(section, "order title") %}
          <li>
          {% if page.data.url == url %}
            <a aria-current="page" href="{{ page.data.url }}" 
              class="border-l border-primary pl-3 py-1 text-sm text-primary"
            >{{ page.data.title }}</a>
          {% else %}
            <a href="{{ page.data.url }}" class="
              border-l border-dim pl-3 py-1 text-sm transition duration-200
              text-dim hover:text-primary
            ">{{ page.data.title }}</a>
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      </li>
    {% endif %}
    {% endfor %}
    </ul>
  </aside>

  <article class="
    px-10 py-8 w-full md:<lg:max-w-prose lg:max-w-[80ch] min-h-full
    flex flex-col <md:flex-grow overflow-y-auto
  ">
    <div class="prose flex-grow relative">
      {{ content | safe }}
    </div>

    {% if edit_url %}
    <a href="{{ edit_url }}{{ filename }}" class="mt-8 link flex items-center space-x-3">
      {{ 'edit-3' | feather | safe }}
      <span>Edit this page</span>
    </a>
    {% endif %}

    <footer class="flex border-dim border-t mt-8 pt-8">
      {%- set prev = search.previousPage(url, "url!=/", "section_order order title") %}
      {%- if prev %}
      <a href="{{ prev.data.url }}" rel="prev" class="link flex items-center space-x-3">
        {{ 'arrow-left' | feather | safe }}
        <span>{{ prev.data.title }}</span>
      </a>
      {% endif %}

      {%- set next = search.nextPage(url, "url!=/", "section_order order title") %}
      {%- if next %}
      <a href="{{ next.data.url }}" rel="next" class="ml-auto link flex items-center space-x-3">
        <span>{{ next.data.title }}</span>
        {{ 'arrow-right' | feather | safe }}
      </a>
      {% endif %}
    </footer>
  </article>

  <aside aria-label="table of contents" class="
    pt-2 pb-8 px-4 min-h-full text-base bg-body overflow-y-auto
    <lg:hidden lg:w-[24ch] xl:w-[32ch] flex-shrink-0
  ">
    <p class="mt-6 mb-2 ml-3"><strong>Table of Contents</strong></p>
    <ul>
    {% for heading in table_of_contents %}
      <li>
        <a href="#{{ heading.slug }}" class="
          py-1.5 transition duration-100
          inline-flex w-full items-center justify-between
          text-sm text-dim py-2 px-3 rounded-md
          hover:(text-primary bg-light-600 dark:bg-dark-500)
        ">{{ heading.text }}</a>
      </li>
    {% endfor %}
    </ul>
  </aside>

</main>

<div class="fixed bottom-4 right-4 z-9 flex flex-col">
  {% for btn in corner_actions %}
  <button data-action="{{ btn.action }}" class="button-floating group {{ btn.breakpoint }}:(pointer-events-none opacity-0)">
    <span class="tooltip opacity-0 group-hover:opacity-100 right-10 bottom-0">
      {{ btn.tooltip }}
    </span>
    {{ btn.icon | feather | safe }}
  </button>
  {% endfor %}
</div>
