<aside aria-label="search" class="
  fixed top-0 h-full w-full flex justify-center p-4 z-10
  sm:(py-12 px-8) opacity-0 pointer-events-none transition duration-50
">
  <div data-action="close-search" class="
    fixed top-0 w-full h-full bg-white
    bg-opacity-60 dark:(bg-black bg-opacity-60)
  "></div>

  <div class="z-11 max-w-144 w-full max-h-144 bg-body rounded-md shadow-lg overflow-hidden">

    <label class="block m-3 relative">
      <input type="search" name="site-search" aria-label="search the notion-enhancer documentation" class="
        block w-full text-lg rounded-md bg-light-600 dark:bg-dark-500 py-3 pl-4 pr-22
        transition ring-dim focus:ring-primary appearance-none placeholder-shown:sibling:opacity-0
      " placeholder="Search docs...">
      
      {{ 'x' | feather({ 'data-action': 'clear-search', class: '
        feather absolute right-12 bottom-0 w-12 pl-3 pr-3 py-4
        h-full transition hover:(!opacity-100 text-primary) cursor-pointer
      ' }) | safe }}
      {{ 'search' | feather({ class: '
        feather absolute right-0 bottom-0 w-12 pl-3 pr-3 py-4
        h-full bg-body rounded-r-md
      ' }) | safe }}
    </label>

    <div aria-label="results" class="
      px-3 mt-2 children:last:mb-3 relative overflow-y-auto h-full
      <sm:max-h-126 sm:max-h-[calc(100%-9.75rem)] empty:after:(text-sm text-dim)
    ">
      <ul>
        <li data-placeholder class="search-result-section">Section</p>
        <li data-placeholder>
          <a href="/" class="search-result group">
            {{ 'align-left' | feather({ class: 'search-result-icon' }) | safe }}
            <div class="font-medium">
              <p class="text-sm"><mark class="search-result-highlight"></mark></p>
              <p class="text-xs"></p>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <footer class="
      <sm:hidden border-dim border-t p-3 text-sm text-dim
      flex flex-wrap items-center px-1 py-2
    ">
      {% for hotkey in hotkeys %}
        <p class="px-2 py-1">
          <kbd class="
            inline-block px-1.5 py-0.5 text-xs bg-card rounded-md
            border-2 border-dim shadow mr-1
          ">{{ hotkey.keys }}</kbd>
          <span>{{ hotkey.text }}</span>
        </p>
      {% endfor %}
    </footer>
  </div>
</aside>
