<!doctype html>

<html lang="en" class="h-full w-full hidden">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if title %}{{ title }} | {% endif %}notion-enhancer</title>
    <link href="/media/colour-x32.png" rel="icon" type="image/png" sizes="32x32">
    <meta name="description" {% if description %}
      content="{{ description }}" {% else %} content="{{ site_description }}"
    {% endif %}>
    
    <meta property="og:image" content="https://notion-enhancer.github.io/media/colour-x512.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://notion-enhancer.github.io/">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" {% if description %}
      content="{{ description }}" {% else %} content="{{ site_description }}"
    {% endif %}>
    <meta name="twitter:image" content="https://notion-enhancer.github.io/media/colour-x512.png">
    <meta name="twitter:creator" content="@dragonwocky">

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/windi.css">
    <link rel="stylesheet" href="/app.css">
    <script type="module" src="/app.js"></script>
  </head>

  <body class="min-h-full w-full flex flex-col font-sans bg-main h-full overflow-hidden">
    {{ content | safe }}

    <div id="floating-buttons" class="fixed bottom-4 right-4 z-9 flex flex-col">
      <button id="toggle-search" class="button-floating group">
        <span class="tooltip opacity-0 group-hover:opacity-100 right-10 bottom-0">
          Search
        </span>
        <svg class="feather">
          <use href="/dep/feather-sprite.svg#search"/>
        </svg>
      </button>
      <button id="toggle-menu" class="button-floating group md:hidden">
        <span class="tooltip opacity-0 group-hover:opacity-100 right-10 bottom-0">
          Toggle menu
        </span>
        <svg class="feather">
          <use href="/dep/feather-sprite.svg#menu"/>
        </svg>
      </button>
      <button id="toggle-theme" class="button-floating group">
        <span class="tooltip opacity-0 group-hover:opacity-100 right-10 bottom-0">
          Toggle theme
        </span>
        <svg class="feather">
          <use href="/dep/feather-sprite.svg#moon"/>
        </svg>
      </button>
    </div>

  </body>
</html>