---
layout: layouts/base.njk

sidebar:
  - getting-started
  - about
  - documentation
  - tools
---

<header class="flex <sm:flex-col sm:flex-row px-6 py-6 bg-secondary border-b-1 border-dim">
  <a href="/" class="flex-shrink-0 items-center <sm:(text-center flex flex-col) sm:grid">
    <img src="{{ site_icon }}" class="col-span-1 row-span-2 h-18 w-18 <sm:mb-4 sm:mr-4">
    <h1 class="col-start-2 mt-auto font-mono font-bold text-lg">{{ site_name }}</h1>
    <p class="col-start-2 mb-auto text-xs max-w-56">{{ site_description }}</p>
  </a>
  <nav class="sm:ml-auto">
    <ul class="flex flex-row flex-wrap justify-center sm:(items-center h-full) <sm:(mt-6 max-w-prose)">
      {% for btn in nav %}
      <li class="p-1">
        <a href="{{ btn.url }}" class="button text-sm">
          <svg class="feather">
            <use href="/dep/feather-sprite.svg#{{ btn.icon }}"/>
          </svg>
          <span>{{ btn.text }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>

<main class="flex-grow flex <md:flex-col">

<aside id="menu" class="
  pt-2 pb-8 px-10 w-64 min-h-full border-r-1 border-dim text-base bg-main
  <md:(absolute top-0 left-0 transform -translate-x-64) flex-shrink-0
">
  <ul>
  {% for section in sidebar %}
    <li>
      <p class="mt-6 mb-2"><strong>{{ search.data(section).section }}</strong></p>
      <ul>
      {% for page in search.pages(section, "order title") %}
        <li>
        {% if page.data.url == url %}
          <a aria-current="page" aria-description="{{ page.data.description }}" href="{{ page.data.url }}" 
            class="border-l border-primary pl-3 py-1 text-sm text-primary"
          >{{ page.data.title | md(true) | safe }}</a>
        {% else %}
          <a aria-description="{{ page.data.description }}" href="{{ page.data.url }}" class="
            border-l border-dim pl-3 py-1 text-sm transition duration-200
            text-dim hover:text-primary
          ">{{ page.data.title | md(true) | safe }}</a>
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</aside>

<article class="px-10 py-8 w-full <md:flex-grow">
  {{ content | safe }}
</article>

</main>